<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Erileen.PagesTest.ColoringnationHomepageTest"/>
      <class name="com.Erileen.PagesTest.MethodsTest"/>
      <class name="com.W3School.W3SchoolHomepageTest.ListOfTutorialsHeadingsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
